/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* About Page Container */
.about-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height */
    overflow: hidden; /* Prevents scrolling */
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Expands between navbar and footer */
    background-color: #f9f9f9;
    text-align: justify;
    padding: 40px;
}

.about-content {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.about-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
}
.about-text h2 {
    color: #09326C; /* Dark blue color for headings */
}

/* Footer */
.footer {
    background-color:#F8C401;
    color: #09326C;
    text-align: left;
    padding: 15px 50px;
    font-size: 16px;
    font-weight:900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    width: 100%;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
