/* General Styles */
.history-container {
    padding: 10px;
    width: 90%;
    margin: 2px auto;
}

/* Section Styling */
.service-history {
    margin-bottom: 30px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #09326C;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color:#1755A7;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Status Badge Styling (Specific to History Page) */
.history-status-completed {
    color: green;
    font-weight: bold;
}

.history-status-pending {
    color: red;
    font-weight: bold;
}

.history-status-in-progress {
    color: orange;
    font-weight: bold;
}

